{% extends "base.jinja2" %}

{%  block content %}
<form action="submit" method="POST">

  <div class="form-row">
{% for i in range(max_digits) %}
    <div class="col" padding="20px">
      <input type="number" class="form-control" name="{{ i + 1 }}" placeholder="Digit#{{ i + 1 }}" required>
  </div>
{% endfor %}
  <button type="submit" value="submit guess">Submit</button>
  </div>
</form>

<br/>



<table class="table table-striped">
    <thead>
    <tr>
        <th>Round</th>
        <th>Guess</th>
        <th>Feedback</th>
        <th>Remaining Attempts</th>
    </tr>
    <tbody>
    {% for i in range(round) %}
    <tr>
        <td>{{ loop.index0 + 1 }}</td>
        <td >
            {% for num in guesses[i] %}
                 {{ num }}
                {% endfor %}
        </td>
        <td>{{ responses[i] }}</td>
        <td>{{ max_attempts - loop.index0 - 1 }}</td>
    </tr>
    {% endfor %}
</table>


<br/>

    <form action="/restart" method="GET">
    <button class="newGame" type="submit">new game</button>
</form>
    <br/>
<form action="/hint" method="GET">
    <button type="submit">Hint</button>
</form>
    {% if hint %}
        <p>Hint: {{hint}}</p>
    {% endif %}

{% if status == 1 %}
    <div class="meme">
        <img src='./static/img/winnerMeme.jpg'></img>
    </div>

{% elif status == 0 %}
    <div class="meme">
        <p> Answer: {{ answer }}</p>
        <img src='./static/img/loserMeme.jpg'></img>
    </div>
{% endif %}

{% endblock %}