{% extends "base.jinja2" %}

{% block content %}
    <br>
    <h4>Settings</h4>
    <p>New settings will be applied AFTER the current game has ended.</p>
    <form action="setlimits" method="POST">
        <br>
        <div>
        <p>
        Set the lowest number that a digit can be
        </p>
        <select name="lowerlimit">
            <option selected="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
    </select>
    </div>
        <br>
    <div>
        <p>
        Set the highest number that a digit can be
        </p>
        <select name="upperlimit">
            <option selected="7">7</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
    </div>

        <br>
    <p><button type="submit">Submit</button></p>

    </form>

{% endblock content %}